nav{
  border-bottom: 2px solid #E8E8E8;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0;
}

.title{
  color: #4CAF50;
  font-size: 25px;
  font-weight: 700;
}

nav ul{
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li{
  margin: 0 1rem;
}

nav a{
  text-decoration: none;
}

.nav-link{
  color: #4CAF50;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
